<section class="rules">
    <div>
        <h3>1. Ogólne</h3>
        <p><span class="rule_title">1.1 </span>Każda drużyna składa się z 12 zawodników: 2x PG, 2x SG, 2x SF, 2xPF, 2xC oraz zawodnicy 11 i 12 na dowolnych pozycjach.</p>
        <p><span class="rule_title">1.2 </span>Sezon zasadniczy liczy 14 kolejek, gramy mecze bezpośrednie w systemie każdy z każdym, mecz i rewanż.</p>
        <p><span class="rule_title">1.3 </span>Za każdy mecz przyznajemy 2pkt za zwycięstwo i 1 pkt za porażkę.</p>
        <p><span class="rule_title">1.4 </span>W przypadku takiej samej liczby punktów decydują:</p>
        <p><span class="spacer"></span><span class="rule_title">1.4.a </span>Bezpośrednie starcia</p>
        <p><span class="spacer"></span><span class="rule_title">1.4.b </span>Małe punkty</p>
        <p><span class="spacer"></span><span class="rule_title">1.4.c </span>Łączna liczba punktów zdobytych przez wszystkich zawodników (11 i 12 również liczymy)</p>
        <p><span class="spacer"></span><span class="rule_title">1.4.d </span>Jeżeli we wszystkich powyższych będzie remis, to w kolejce 15 rozegrany zostanie mecz bezpośredni decydujący o miejscu.</p>
        <p><span class="rule_title">1.5 </span>Playoff gramy w systemie 1-8, 2-7, 3-6, 4-5. Wszystkie rundy Playoff rozgrywamy do 3 wygranych.  (Na rozegranie PO będziemy mieli 15 kolejek, więc każda runda max 5 meczów)</p>
        <p><span class="rule_title">1.6 </span>Okno transferowe otwiera się po zakończeniu 1 kolejki, czyli 15.09. (Nie dotyczy wymian za zawodników zwolnionych)</p>
        <p><span class="rule_title">1.7 </span>Jakichkolwiek transferów można dokonywać do startu 15 kolejki.</p>
        <p><span class="spacer"></span><span class="rule_title">1.7.a </span>Wyjątek, jeżeli w trakcie Playoff nasz zawodnik zostanie zwolniony ze swojej drużyny, wtedy możemy wymienić go na zawodnika z puli Free Agentów. (W trakcie naszych Playoff w PLK będzie sezon zasadniczy więc dalej będą rotować składami)</p>
        <p><span class="rule_title">1.8 </span>W przypadku gdy zawodnicy obydwu graczy zdobędą równą liczbę punktów w kolejce, to zwycięzcą meczu zostaje jego gospodarz. (W ten sposób będziemy mogli jakoś odwzorować przewagę parkietu, szczególnie w Playoff)</p>
        <p><span class="rule_title">1.9 </span>W przypadku gdy mecz z danej kolejki został przełożony, a my posiadamy zawodników z wcześniej grających to drużyn, to musimy wystawić ich do składu na wybrane pozycje, a resztę składu wybierzemy gdy będzie ruszała kolejka.</p>
        <p><span class="spacer"></span><span class="rule_title">1.9.1 </span>Co w przypadku transferów:</p>
        <p><span class="spacer"></span><span class="rule_title">1.9.1.a </span>Wyrzucamy zawodnika, który zagrał w tej kolejce wcześniej - Jego miejsce w składzie zostało już zablokowane, a jego punkty policzyły się i tak pozostanie. Nowy zawodnik nie może zostać zgłoszony do tej kolejki.</p>
        <p><span class="spacer"></span><span class="rule_title">1.9.1.b </span>Wyrzucamy/bierzemy zawodnika, który nie grał jeszcze w tej kolejce - Standardowy transfer, nowy zawodnik przychodzący może być zgłoszony</p>
        <p><span class="spacer"></span><span class="rule_title">1.9.1.c</span>Bierzemy zawodnika, który grał już wcześniej w tej kolejce - Takiego zawodnika nie możemy zgłosić to danej kolejki. (Nadal liczy się do limitów 2x zawodników na każdej pozycji)</p>
        <p><span class="spacer"></span><span class="rule_title">1.9.2 </span>Wartość zawodników, o zdobyte punkty, wzrośnie dopiero po zakończeniu całej kolejki.</p>

        <div class="example">
            <p>
                Przykład: 5 Kolejka normalny deadline składu będzie miała 23.09. Stelmet gra swój mecz 08.09. Norbi np ma Zyzia i Sobina z tych drużyn. I wtedy będzie musiał tych dwóch zawodników zablokować na pozycjach. Czyli zdecydować czy grają w S5, na ławce, czy może są 11 i 12 zawodnikiem. Co do kapitana to tak samo musi podjąć decyzje czy któryś z tych nim jest.Reszte składu ustala 23 września.
            </p>
        </div>
    </div>

    <div>
        <h3>2. Punktacja</h3>
        <p><span class="rule_title">2.1 </span>Do każdej kolejki należy zgłosić skład zawierający Pierwszą piątkę (na swoich pozycjach), a także 5 zawodników rezerwowych (nie muszą być na swoich pozycjach).</p>
        <div class="example">
            <p>
                Przykład: W składzie musimy mieć w S5 po jednym PG, SG, SF, PF, C, ale na ławce możemy mieć np 2x PG, 1x SG, 1x PF i 0x C, a nasz drugi Center będzie jako niepunktujący 11 lub 12 zawodnik. 
            </p>
        </div>
        <p><span class="rule_title">2.2 </span>Punkty naliczamy zawodnikom na bazie punktów zdobytych w oficjalnym Managerze PLK, czyli:</p>
        <p><span class="spacer"></span><span class="rule_title">2.2.1 </span>Koszykarz bez względu na pozycję otrzymuje punkty za:</p>
        <p><span class="spacer"></span><span class="rule_title">2.2.1.a </span>wskaźnik EVAL - do punktacji w konkursie otrzymuje tyle punktów, ile faktycznie zostanie mu przyznany EVAL w oficjalnych statystykach Energa Basket Liga w meczu ligowym,</p>
        <p><span class="spacer"></span><span class="rule_title">2.2.1.b </span>za wygranie meczu - koszykarz, którego zespół wygra mecz ligowy, otrzymuje 2 pkt., z zastrzeżeniem, że musi rozegrać co najmniej 10 minut,</p>
        <p><span class="spacer"></span><span class="rule_title">2.2.1.c </span>30 minut na boisku (bez względu na wynik spotkania) - koszykarz, który w meczu ligowym rozegrał co najmniej 30 minut, otrzymuje 2 pkt.,</p>
        <p><span class="spacer"></span><span class="rule_title">2.2.1.d </span>statystykę Plus/minus (+/-): na plusie 20 i powyżej +4 pkt., a na plusie 10 do 19 włącznie +2 pkt.</p>
        <p><span class="rule_title">2.3 </span>W każdej kolejce wybieramy kapitana drużyny.</p>
        <p><span class="rule_title">2.4 </span>Zawodnicy w skladzie meczowym mają różne mnożniki punktów:</p>
        <ul>
            <span class="spacer"></span><li>Kapitan <span class="rule_title">x1.5</span>,</li>
            <span class="spacer"></span><li>Pierwsza piątka <span class="rule_title">x1</span>,</li>
            <span class="spacer"></span><li>Ławka <span class="rule_title">x0.5</span>,</li>
            <span class="spacer"></span><li>Rezerwa (11 i 12 zawodnik) <span class="rule_title">x0</span>.</li>
        </ul>
    </div>

    <div>
        <h3>3. Transfery</h3>
        <p><span class="rule_title">3.1 </span>Każdy gracz w trakcie sezonu może zrobić 4 transfery.</p>
        <p><span class="spacer"></span><span class="rule_title">3.1.a </span>W przypadku, gdy zawodnik naszej drużyny zostanie zwolniony ze swojej rzeczywistej drużyny, możemy wymienić go na zawodnika z puli Free Agentów - Taki transfer NIE liczy się do limitu 4 transferów.</p>
        <p><span class="rule_title">3.2 </span>Aby dokonać transferu należy napisać na grupie informację jakiego zawodnika z naszej drużyny usuwamy i jakiego dobieramy z puli Free Agent.</p>
        <p><span class="spacer"></span><span class="rule_title">3.2.a </span>Po takiej informacji pozostali gracze mają 24h, aby również złożyć ofertę za tego zawodnika. (24h liczymy od momentu napisania na grupie wiadomości)</p>
        <p><span class="spacer"></span><span class="rule_title">3.2.b </span>Jeżeli mamy więcej niż jedną chętną osobę na zawodnika, to robimy licytację.</p>
        <p><span class="spacer"></span><span class="rule_title">3.2.c </span>Licytację wygrywa osoba, której zawodnik usuwany z obecnej drużyny, będzie miał najwyższą wartość. Wartość obliczamy na podstawie ilości łącznie zdobytych punktów w trakcie sezonu.</p>

        <div class="example">
            <p>
                Przykład: Gracz 1 zgłasza o 17:00 transfer Zawodnik 6 (zdobył 200 punktów w sezonie) --> Free Agent 5. W tym momencie mamy 24h licytacji. Gracz 2 również jest zainteresowany transferem i wystawia Zawodnika 4, który zdobył łącznie 250 punktów w sezonie. Gracz 1 może więc oddać innego zawodnika, który zdobył powyżej 250 punktów lub może odpuścić licytacje.
            </p>
        </div>
        <p><span class="rule_title">3.3 </span>Należy pamiętać, aby w naszym klubie zawsze pozostała proporcja po dwóch graczy na pozycję. Jeżeli zwolnią jednego z naszych dwóch Centrów, to możemy zastąpić go Rozgrywającym bez licytacji. Jednak żeby zgłosić skład do meczu musimy dodatkowo zrobić transfer, aby mieć drugiego centra. Ten drugi transfer będzie już liczył się do limitu, a także będzie podlegał licytacji. Więc musimy pamiętać aby taki transfer zgłosić na więcej niż 24h do startu następnej kolejki.</p>
        <p><span class="spacer"></span><span class="rule_title">3.3.a </span>W przypadku gdy drużyna nie ma po dwóch zawodników na pozycję to do następnego meczu może zgłosić tylko 4 rezerwowych.</p>
        <p><span class="rule_title">3.4 </span>Jeżeli nasz zawodnik zostanie zwolniony z klubu, to możemy go zastąpić natychmiastowo innym wolnym agentem. Taka wymiana nie podlega licytacji.</p>
        <p><span class="spacer"></span><span class="rule_title">3.4.1 </span>Wyjątek, nie możemy natychmiastowo wziąć zawodnika, który obecnie jest na licytacji.</p>
        <p><span class="spacer"></span><span class="rule_title">3.4.2 </span>W przypadku gdy kilku graczy jest chętnych na nowego zawodnika dołączającego do ligi, pierwszeństwo do wzięcia zawodnika natychmiastowo, rozstrzygamy w kolejności: </p>
        <p><span class="spacer"></span><span class="rule_title">- </span>Jeżeli transfer dotyczy dwóch klubów PLK, pierwszeństwo ma osoba, która pierwotnie miała zawodnika,</p>
        <p><span class="spacer"></span><span class="rule_title">- </span>Jeżeli transfer jest zastępstwem za zawodnika, którego posiadaliśmy, a został zwolniony</p>
        <p><span class="spacer"></span><span class="rule_title">- </span>Jeżeli nowy zawodnik gra na tej samej pozycji co zawodnik zwolniony z naszej drużyny</p>
        <p><span class="spacer"></span><span class="rule_title">- </span>Jeżeli żaden z powyższych nie rozstrzyga sporu to pod uwagę bierzemy wartość punktową zawodników zwolnionych</p>
        <p><span class="spacer"></span><span class="rule_title">3.4.3 </span>Po zwolnieniu zawodnika możemy zdecydować się nie brać nikogo, do momentu aż klub nie ogłosi zastępstwa za tego zawodnika. Jeżeli jego zastępstwo zostało już ogłoszone, to musimy od razu wybrać wolnego agenta.</p>
        <p><span class="spacer"></span><span class="rule_title">3.4.4 </span>Jeżeli nasz zawodnik przeszedł do innej drużyny w PLK, to traktujemy go jakby został zwolniony i możemy zdecydować czy nadal go chcemy.</p>
        <p><span class="spacer"></span><span class="rule_title">3.4.5 </span>Przysługujące nam wolne transfery należy wykorzystać przed rozpoczęciem się Playoff.</p>
    </div>

    <div>
        <h3>4. Kontuzje</h3>
        <p><span class="rule_title">4.1 </span>W przypadku kontuzji zawodnika po prostu przenosimy go na miejsce zawodnika 12.</p>
        <p><span class="rule_title">4.2 </span>Jeżeli zawodnik z powodu kontuzji nie zagra w meczu, a był zgłoszony. To w jego miejsce wchodzi zawodnik 11. W przypadku drugiej kontuzji, wchodzi zawodnik 12. W przypadku 3 kontuzji drużyna punktuje w 9 zawodników.</p>
        <p><span class="spacer"></span><span class="rule_title">4.2.a </span>Zawodnik zostaje zastąpiony tylko w przypadku gdy nie zagra ani sekundy w meczu (w statystykach widnieje jako DNP).</p>
        <p><span class="rule_title">4.3 </span>Jeżeli posiadamy skład w odpowiednich proporacjach tj. po minimum 2 zawodników na pozycję, ale naszych dwóch zawodników z tej samej pozycji ma kontuzje. To możemy zgłosić skład wystawiając na tej pozycji dowolnego innego zawodnika.</p>
        <p><span class="spacer"></span><span class="rule_title">4.3.a </span>Musimy jednak wrzucić zawodnika z odpowidniej pozycji natychmiast jak wróci po kontuzji.</p>

        <div class="example">
            <p>
                Przykład: Gracz 3 ma kontuzję obu PG, a nie ma w składzie trzeciego. W tym momencie na pozycję PG może wrzucić dowolnego zawodnika z pozostałej 10, do momentu gdy któryś z jego PG nie wróci po kontuzji.
            </p>
        </div>
        <p><span class="rule_title">4.4 </span>Transfery spowodowane kontuzjami liczą się do limitu.</p>
    </div>
</section>