#playoff_bracket {
  width: 100%;
  background-color: #101a2e;
  padding-bottom: 200px;
}

.bracket_title {
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  padding-top: 20px;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: 'FTYKONKRETENCV';
}

.bracket_content {
  width: 100%;
  display: flex;
}

.container {
  width: 20%;
  height: 600px;
  display: flex;
  flex-direction: column;

  &.quarterfinal {
    justify-content: space-around;
  }
  &.semifinal {
    justify-content: center;
  }
  &.final {
    justify-content: center;
  }
}