<div class="container">
    <h1>PLAYOFF</h1>
    <h2>Fantasy PLK 21/22</h2>
    <div class="tournament-bracket tournament-bracket--rounded">                                                     
      <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
        <h3 class="tournament-bracket__round-title">Ćwierćfinał</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Country</th>
                    <th>Score</th>
                  </tr>
                </thead>  
                <tbody class="tournament-bracket__content">
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">A1</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">A8</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
  
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Country</th>
                    <th>Score</th>
                  </tr>
                </thead>  
                <tbody class="tournament-bracket__content">
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">A2</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">A7</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Country</th>
                    <th>Score</th>
                  </tr>
                </thead>  
                <tbody class="tournament-bracket__content">
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">A3</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">A6</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
  
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Country</th>
                    <th>Score</th>
                  </tr>
                </thead>  
                <tbody class="tournament-bracket__content">
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">A4</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">A5</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--semifinals">
        <h3 class="tournament-bracket__round-title">Półfinał</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Country</th>
                    <th>Score</th>
                  </tr>
                </thead>  
                <tbody class="tournament-bracket__content">
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">?</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">?</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
  
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Country</th>
                    <th>Score</th>
                  </tr>
                </thead>  
                <tbody class="tournament-bracket__content">
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">?</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">?</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--bronze">
        <h3 class="tournament-bracket__round-title">Finał</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Country</th>
                    <th>Score</th>
                  </tr>
                </thead>  
                <tbody class="tournament-bracket__content">
                  <tr class="tournament-bracket__team tournament-bracket__team--winner">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code" title="Finland">FIN</abbr>
                      <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-label="Flag"></span>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">3</span>
                      <span class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy" aria-label="Bronze medal"></span>
                    </td>
                  </tr>
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code" title="Canada">CAN</abbr>
                      <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">2</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
      <div class="tournament-bracket__round tournament-bracket__round--gold">
        <h3 class="tournament-bracket__round-title">Mecz o 3 miejsce</h3>
        <ul class="tournament-bracket__list">
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Country</th>
                    <th>Score</th>
                  </tr>
                </thead>  
                <tbody class="tournament-bracket__content">
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">?</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                  <tr class="tournament-bracket__team">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code">?</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>