<section id="playoff_bracket">
  <div class="bracket_title">
    <img src="https://i.imgur.com/aOscBoG.png" alt="">
    <h1>PLAYOFFS</h1>
  </div>

  <div class="bracket_content" *ngIf="playoffMatches[0][0].team1Data">
    <div class="container quarterfinal">
      <app-playoff-match [sideOfBracket]="'left'" [matchInfo]=playoffMatches[0][0]></app-playoff-match>
      <app-playoff-match [sideOfBracket]="'left'" [matchInfo]=playoffMatches[0][3]></app-playoff-match>
    </div>
    <div class="container semifinal">
      <app-playoff-match [sideOfBracket]="'left'" [matchInfo]=playoffMatches[1][0]></app-playoff-match>
    </div>
    <div class="container final">
      <app-playoff-match [sideOfBracket]="'center'" [matchInfo]=playoffMatches[2][0]></app-playoff-match>
    </div>
    <div class="container semifinal">
      <app-playoff-match [sideOfBracket]="'right'" [matchInfo]=playoffMatches[1][1]></app-playoff-match>
    </div>
    <div class="container quarterfinal">
      <app-playoff-match [sideOfBracket]="'right'" [matchInfo]=playoffMatches[0][1]></app-playoff-match>
      <app-playoff-match [sideOfBracket]="'right'" [matchInfo]=playoffMatches[0][2]></app-playoff-match>
    </div>
  </div>
</section>